{# src/Uknow/PlatformBundle/Resources/views/cartable/modifications.html.twig#}

{% extends "UknowPlatformBundle::index.html.twig" %}

{% block title %}Modifications{% endblock %}

{% block contenu %}
    <div class="row">
        <div class="col-md-11" style="padding: 0; position: fixed; z-index: 1; background-color: #f5f5f5;" id="colLien">
            <ol class="breadcrumb" style="margin: 0">
                <li><a href="{{ path('uknow_platform_cartable_matieres', {'matiere': donnee.matiereLien })}}">{{ donnee.matiereNom }}</a></li>
                <li class="active">{{ donnee.titre }}</li>
            </ol>
        </div>
        <div class="col-md-offset-11 col-md-1" style="padding: 0; position: fixed; z-index: 1; background-color: #f5f5f5" id="colButton">
            <button id="agrandir" onclick="agrandir()">
                <span class="glyphicon glyphicon-resize-full"></span>
            </button>
            <button class="boutonAffiche" id="supprimer" onclick="supprimer({{ id }}, null)">
                <span class="glyphicon glyphicon-floppy-remove"></span>
            </button>
        </div>
    </div>
    <div class="row" style="margin-top: 36px">
        <div class="col-md-offset-2 col-md-8" style="padding: 15px; text-align: center" id="colCours">
            {% for donnees in listDonnees %}
                {{ include('UknowPlatformBundle:modifications:afficher.html.twig') }}
                {{ include('UknowPlatformBundle:modifications:cacher.html.twig') }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
