{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_errors(form) }}

        <div class="form-group" style="font-family: 'Open Sans', sans-serif; font-weight: 400">
            {{ form_errors(form.username, {'attr': {'class': 'alert alert-danger'}}) }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Nom d\'utilisateur'}}) }}
        </div>

        <div class="form-group" style="font-family: 'Open Sans', sans-serif; font-weight: 400">
            {{ form_errors(form.email, {'attr': {'class':'alert alert-danger'}}) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Adresse Mail'}}) }}
        </div>

        <div class="form-group">
            {{ form_errors(form.plainPassword.first, {'attr': {'class': 'alert alert-danger'}}) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
        </div>

        <div class="form-group">
            {{ form_errors(form.plainPassword.second, {'attr': {'class': 'alert alert-danger'}}) }}
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirmation'}}) }}
        </div>

        <div class="col-md-6" style="font-family: 'Open Sans', sans-serif; font-weight: 400">
            <input type="submit" class="btn btn-default" value="{{ 'registration.submit'|trans }}" />
        </div>

        <div class="col-md-6" style="font-family: 'Open Sans', sans-serif; font-weight: 400">
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-default" role="button">Se connecter !</a>
        </div>
    {{ form_end(form) }}
</form>
