<div id="donneeAffiche_{{ loop.index }}" class="donneeAffiche" style="display: none">

    <div class="row" style="background-color: #555;color: #ffffff; margin: 0">
        <div class="col-md-9">
        <div class="titreAfficherGauche">{{ donnees.titre }} ({{ donnees.temps }} minutes)</div>
</div>
            <div class="col-md-3" style=padding:0;">
        <button class="boutonAffiche" onclick="cacher({{ loop.index }})">
            <span class="glyphicon glyphicon-remove"></span>
        </button>

            {% if tableauSauvegarde[loop.index0] == 1 %}
                <button class="boutonAffiche">
                    <span class="glyphicon glyphicon-floppy-saved"></span>
                </button>
            {% else %}
                <button class="boutonAffiche" id="enregistrerAfficher{{ loop.index }}" onclick="enregistrer({{ donnees.id }}, {{ loop.index }})">
                    <span id="{{ loop.index }}" class="glyphicon glyphicon-floppy-disk"></span>
                </button>
            {% endif %}

        <a href="{{ path('uknow_platform_donnees_modification', {'id': donnees.id }) }}">
            <button class="boutonAffiche">
                <span class="glyphicon glyphicon-th-list"></span>
            </button>
        </a>

        {% if donnees.type == 'Cours' %}
            <a href="{{ path('uknow_platform_modifier_cours', {'id': donnees.id }) }}">
                <button class="boutonAffiche">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </a>
        {% elseif donnees.type == 'Exercice' %}
            <a href="{{ path('uknow_platform_modifier_exercice', {'id': donnees.id }) }}">
                <button class="boutonAffiche">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </a>
            <button class="boutonAffiche" id="boutonCorrection_{{ loop.index }}" onclick="afficherCorrection({{ loop.index }})">
                <span class="glyphicon glyphicon-check"></span>
            </button>
        {% endif %}
            </div>
    </div>

    <div class="texteDonnee">
        {% autoescape %}
        {{ donnees.texte|raw}}
        {% endautoescape %}
    </div>

    <div id="correctionDonnee_{{ loop.index }}" style="display:none">
        <div style="width: 100%; height: 1px; background-color: #555"></div>
        <div class="texteDonnee">
            {% autoescape %}
            {{ donnees.correction|raw}}
            {% endautoescape %}
        </div>
    </div>

    <div class="barreAfficher">
        <div class="row" style="margin:0">
            <span class="barreAfficherEnd">
                {{ donnees.matiereNom }} : {{ donnees.type }} : {{ donnees.niveauNom }}
            </span>
            {#<div  class="barreAfficherEnd">{{ donnees.fiabilite }}%</div>#}

            {% if tableauEvaluation[loop.index0] == 1 %}

                <button class="inutileChoix">Inadéquat
                    <span style="background-color: #ffffff; color:#d9534f" class="badge">{{ donnees.inutile }}</span></button>
                <button class="developperChoix">A développer
                    <span style="background-color: #ffffff; color:#f0ad4e" class="badge">{{ donnees.developper }}</span></button>
                <button class="pertinentChoix">
                    <span class="glyphicon glyphicon-ok"></span> Pertinent
                        <span style="background-color: #ffffff; color:#5cb85c" class="badge">{{ donnees.pertinent }}</span></button>

            {% elseif tableauEvaluation[loop.index0] == 2 %}
                <button class="inutileChoix">Inadéquat
                    <span style="background-color: #ffffff; color:#d9534f" class="badge">{{ donnees.inutile }}</span></button>
                <button class="developperChoix">
                    <span class="glyphicon glyphicon-ok"></span> A développer
                        <span style="background-color: #ffffff; color:#f0ad4e" class="badge">{{ donnees.developper }}</span></button>
                <button class="pertinentChoix">Pertinent
                    <span style="background-color: #ffffff; color:#5cb85c" class="badge">{{ donnees.pertinent }}</span></button>

            {% elseif tableauEvaluation[loop.index0] == 3 %}

                <button class="inutileChoix">
                    <span class="glyphicon glyphicon-ok"></span> Inadéquat
                        <span style="background-color: #ffffff; color:#d9534f" class="badge">{{ donnees.inutile }}</span></button>
                <button class="developperChoix">A développer
                    <span style="background-color: #ffffff; color:#f0ad4e" class="badge">{{ donnees.developper }}</span></button>
                <button class="pertinentChoix">Pertinent
                    <span style="background-color: #ffffff; color:#5cb85c" class="badge">{{ donnees.pertinent }}</span></button>

            {% else %}

                <button class="inutileAfficher" id="inutileAfficher_{{ loop.index }}" onclick="evaluation({{ donnees.id }}, 'inutile', {{ donnees.inutile }}, {{ loop.index }})">Inadéquat
                    <span style="background-color: #ffffff; color:#d9534f" class="badge">{{ donnees.inutile }}</span></button>
                <button class="developperAfficher" id="developperAfficher_{{ loop.index }}" onclick="evaluation({{ donnees.id }}, 'developper', {{ donnees.developper }}, {{ loop.index }})">A développer
                    <span style="background-color: #ffffff; color:#f0ad4e" class="badge">{{ donnees.developper }}</span></button>
                <button class="pertinentAfficher" id="pertinentAfficher_{{ loop.index }}" onclick="evaluation({{ donnees.id }}, 'pertinent', {{ donnees.pertinent }}, {{ loop.index }})">Pertinent
                    <span style="background-color: #ffffff; color:#5cb85c" class="badge">{{ donnees.pertinent }}</span></button>

            {% endif %}
        </div>
    </div>
</div>