<div id="donneeCache_{{ loop.index }}" class="donneeCacher">

    <h5 class="titre" id="titre_{{ loop.index }}" onclick="afficher({{ loop.index }})">{{ donnees.titre }}<br/></h5>

    <div class="row" style="margin:0">
        <span id="details">
            {{ donnees.matiereNom }} : {{ donnees.type }} : {{ donnees.niveau }}
        </span>
    </div>
    <div class="row" style="margin:0">
        <div class="col-md-6" id="fiable">{{ donnees.fiabilite }}%</div>
        <div class="col-md-6" id="temps">{{ donnees.temps }} minutes</div>
    </div>

    <div class="row" style="margin:0">
        <div id="pertinent" class="col-md-2">
            {{ donnees.pertinent }}
        </div>
        <div id="developper" class="col-md-2">
            {{ donnees.developper }}
        </div>
        <div id="inutile" class="col-md-2">
            {{ donnees.inutile }}
        </div>

        {% if donnees.type == 'Cours' %}
            <a href="{{ path('uknow_platform_modifier_cours', {'id': donnees.id }) }}">
                <button class="col-md-2" id="modifier">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </a>
        {% elseif donnees.type == 'Exercice' %}
            <a href="{{ path('uknow_platform_modifier_exercice', {'id': donnees.id }) }}">
                <button class="col-md-2" id="modifier">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </a>
        {% elseif donnees.type == 'Correction' %}
            <a href="{{ path('uknow_platform_modifier_correction', {'id': donnees.id }) }}">
                <button class="col-md-2" id="modifier">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </a>
        {% endif %}

        <a href="{{ path('uknow_platform_donnees_modification', {'id': donnees.id }) }}">
            <button class="col-md-2" id="modification">
                <span class="glyphicon glyphicon-th-list"></span>
            </button>
        </a>

        {% if tableauSauvegarde[loop.index0] == 1 %}
            <button class="col-md-2" id="enregistrer">
                <span class="glyphicon glyphicon-floppy-saved"></span>
            </button>
        {% else %}
                <button class="col-md-2" id="enregistrer" onclick="enregistrer({{ loop.index }})">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                </button>
        {% endif %}
    </div>
</div>