{# src/Uknow/PlatformBundle/Resources/views/donnees.html.twig#}

{% extends "UknowPlatformBundle::index.html.twig" %}

{% block title %}{{ chapitre.nom }}{% endblock %}

{% block contenu %}
    <div class="row">
        <div class="col-md-9" style="padding: 0; position: fixed; z-index: 1">
            <ol class="breadcrumb">
                <li><a href="{{ path('uknow_platform_recherche_acceuil')}}">Accueil</a></li>
                <li><a href="{{ path('uknow_platform_recherche_domaine', {'lienDomaine': domaine.lien }) }}">{{ domaine.nom }}</a></li>
                <li><a href="{{ path('uknow_platform_recherche_matiere', {'lienDomaine': domaine.lien, 'lienMatiere': matiere.lien }) }}">{{ matiere.nom }}</a></li>
                <li><a href="{{ path('uknow_platform_recherche_theme', {'lienDomaine': domaine.lien, 'lienMatiere': matiere.lien, 'lienTheme': theme.lien }) }}">{{ theme.nom }}</a></li>
                <li class="active">{{ chapitre.nom }}</li>
            </ol>
        </div>
    </div>
    <div class="row" style="margin-top: 36px">
        <div class="col-md-9" style="padding: 15px; text-align: center">
            {%  if listDonnees == null %}
                <h4>Il n'existe pas de cours pour cette section.<br/> Mais vous pouvez <em><a href="{{ path('uknow_platform_ajouter_cours', {'lienDomaine': domaine.lien, 'lienMatiere': matiere.lien, 'lienTheme': theme.lien, 'lienChapitre':chapitre.lien }) }}">en créer un</a></em> !</h4>
            {% else %}
                {% for donnees in listDonnees %}
                    <div id="donnee{{ loop.index }}" class="donnee">
                        <form method="post" action="{{ path('uknow_platform_recherche_chapitre',{
                            'lienDomaine':domaine.lien,
                            'lienMatiere':matiere.lien,
                            'lienTheme':theme.lien,
                            'lienChapitre':chapitre.lien
                        })}}">

                            <input type="hidden" name="valeur" value="{{ loop.index }}">

                            <h5 class="titre">{{ donnees.titre }}<br/></h5>

                            {#<div id="{{ loop.index }}">
                                <div id="textedonnee">
                                    {{ donnees.texte|raw}}
                                </div>
                            </div>#}

                            <div class="row" style="margin:0">
                                <span id="details">
                                    {{ donnees.matiereNom }} : {{ donnees.type }} : {{ donnees.niveau }}
                                </span>
                            </div>
                            <div class="row" style="margin:0">
                                <div class="col-md-6" id="fiable">{{ donnees.fiabilite }}%</div>
                                <div class="col-md-6" id="temps">{{ donnees.temps }} minutes</div>
                            </div>

                            {#<div id="bouton{{ loop.index }}">
                                <div class="null">
                                    {% if tableauEvaluation[loop.index0] == 1 %}
                                        <div class="jugement">C'est à développer.</div>
                                        Pertinence : {{ donnees.positive }}, à développer: {{ donnees.negative }},
                                    {% elseif tableauEvaluation[loop.index0] == 2 %}
                                        <div class="jugement">C'est pertinent !</div>
                                        Pertinence : {{ donnees.positive }}, à développer: {{ donnees.negative }}
                                    {% else %}
                                        <input type="submit" name="bouton" value="Pertinent">: {{ donnees.positive }},
                                        <input type="submit" name="bouton" value="A développer">: {{ donnees.negative }},
                                    {% endif %}
                                    <input type="submit" name="bouton" value="Modifier">
                                    <input type="submit" name="bouton" value="Modifications">
                                </div>
                            </div>#}

                        <div class="row" style="margin:0">
                            <div id="pertinent" class="col-md-2">
                                {{ donnees.pertinent }}
                            </div>
                            <div id="developper" class="col-md-2">
                                {{ donnees.developper }}
                            </div>
                            <div id="inutile" class="col-md-2">
                                {{ donnees.inutile }}
                            </div>

                            <button type="submit" name="bouton" value="Modifier" class="col-md-2" id="modifier">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                            <button type="submit" name="bouton" value="Modifications" class="col-md-2" id="modification">
                                <span class="glyphicon glyphicon-th"></span>
                            </button>
                            <span id="enregistrer{{ loop.index }}">
                                {% if tableauSauvegarde[loop.index0] == 1 %}
                                    <button type="button" name="bouton" value="Enlever" class="col-md-2" id="enregistrer">
                                        <span class="glyphicon glyphicon-floppy-saved"></span>
                                    </button>
                                {% else %}
                                    {% if donnees.type == 'Cours' %}
                                        <button type="submit" name="bouton" value="Suivre" class="col-md-2" id="enregistrer">
                                            <span class="glyphicon glyphicon-floppy-disk"></span>
                                        </button>
                                    {% else %}
                                        <button type="submit" name="bouton" value="Enregistrer" class="col-md-2" id="enregistrer">
                                            <span class="glyphicon glyphicon-floppy-disk"></span>
                                        </button>
                                    {% endif %}
                                {% endif %}
                            </span>
                        </div>
                        </form>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
