{# src/Uknow/PlatformBundle/Resources/views/structure.html.twig#}

{% extends "UknowPlatformBundle::index.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenu %}

    {% if domaine == null %}
        <div class="row">
            <div class="col-md-9" style="padding: 0; position: fixed; z-index: 1">
                <ol class="breadcrumb">
                    <li class="active">Accueil</li>
                </ol>
            </div>
        </div>
        <div class="row" style="margin-top: 36px; height: 100%">
            <div class="col-md-9" id="contenu">
                <div class="strut"></div>
                <div id="content">
                    {% for structure in listStructure %}
                    <div class="bulleCadreFirst">
                        <a href="{{ path('uknow_platform_recherche_domaine', {
                            'lienDomaine': structure.lien
                        }) }}" ><button type="button" class="bulleFirst">{{ structure.nom }}</button></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    {% elseif matiere == null %}
        <div class="row">
            <div class="col-md-9" style="padding: 0; position: fixed; z-index: 1">
                <ol class="breadcrumb">
                    <li><a style="text-decoration: none" href="{{ path('uknow_platform_recherche_acceuil') }}">Accueil</a></li>
                    <li class="active">{{ domaine.nom }}</li>
                </ol>
            </div>
        </div>
        <div class="row" style="margin-top: 36px; height: 100%">
            <div class="col-md-9" id="contenu">
                <div class="strut"></div>
                <div id="content">
                    {% for structure in listStructure %}
                    <div class="bulleCadre">
                        <a href="{{ path('uknow_platform_recherche_matiere', {
                            'lienDomaine': domaine.lien,
                            'lienMatiere': structure.lien
                        }) }}"><button type="button" class="bulle">{{ structure.nom }}</button></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


    {% elseif theme == null  %}
        <div class="row">
            <div class="col-md-9" style="padding: 0; position: fixed; z-index: 1">
                <ol class="breadcrumb">
                    <li><a style="text-decoration: none" href="{{ path('uknow_platform_recherche_acceuil') }}">Accueil</a></li>
                    <li><a style="text-decoration: none" href="{{ path('uknow_platform_recherche_domaine', {'lienDomaine': domaine.lien}) }}">{{ domaine.nom }}</a></li>
                    <li class="active">{{ matiere.nom }}</li>
                </ol>
            </div>
        </div>

        <div class="row" style="margin-top: 36px; height: 100%">
            <div class="col-md-9" id="contenu">
                <div class="strut"></div>
                <div id="content">
                    {% for structure in listStructure %}
                    <div class="bulleCadre">
                        <a href="{{ path('uknow_platform_recherche_theme', {
                            'lienDomaine': domaine.lien,
                            'lienMatiere': matiere.lien,
                            'lienTheme': structure.lien
                        }) }}"><button type="button" class="bulle">{{ structure.nom }}</button></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


    {% else %}
        <div class="row" style="margin-top: 36px">
            <div class="col-md-9" style="padding: 0; position: fixed; z-index: 1">
                <ol class="breadcrumb">
                    <li><a style="text-decoration: none" href="{{ path('uknow_platform_recherche_acceuil') }}">Accueil</a></li>
                    <li><a style="text-decoration: none" href="{{ path('uknow_platform_recherche_domaine', {'lienDomaine': domaine.lien }) }}">{{ domaine.nom }}</a></li>
                    <li><a style="text-decoration: none" href="{{ path('uknow_platform_recherche_matiere', {'lienDomaine': domaine.lien, 'lienMatiere': matiere.lien }) }}">{{ matiere.nom }}</a></li>
                    <li class="active">{{ theme.nom }}</li>
                </ol>
            </div>
        </div>

        <div class="row" style="margin-top: 36px; height: 100%">
            <div class="col-md-9" id="contenu">
                <div class="strut"></div>
                <div id="content">

                    {% for structure in listStructure %}
                        <div class="bulleCadre">
                            <a href="{{ path('uknow_platform_recherche_chapitre', {
                                'lienDomaine': domaine.lien,
                                'lienMatiere': matiere.lien,
                                'lienTheme': theme.lien,
                                'lienChapitre': structure.lien
                            }) }}"><button type="button" class="bulle">{{ structure.nom }}</button></a><br/>
                            <div class="badge" id="badge">{{ tableauBadge[loop.index0] }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}