{# src/Uknow/PlatformBundle/Resources/views/navigation/lien.html.twig#}

<div class="col-md-3" style="text-align: center">
    <div class="btn-group" style="margin-right: 5%; margin-left: 5%;">
        <button class="btn btn-default dropdown-toggle" id="btn-rd" data-toggle="dropdown">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="dropdown-header"> Ajouter</li>
            <li><a href="{{ path('uknow_platform_ajouter_cours')}}">Créer un cours</a></li>
            <li><a href="{{ path('uknow_platform_ajouter_exercices')}}">Créer un exercice</a></li>
        </ul>
    </div>

    <div class="btn-group" style="margin-right: 5%; margin-left: 5%">
        <button class="btn btn-default dropdown-toggle" id="btn-rd" data-toggle="dropdown">
            <span class="glyphicon glyphicon-briefcase"></span>
        </button>
        <ul class="dropdown-menu" id="lienNav">
            <li class="dropdown-header">Mon cartable</li>
            <li><a href="{{ path('uknow_platform_cartable_cours')}}">Cours</a></li>
            <li><a href="{{ path('uknow_platform_cartable_exercices')}}">Exercices</a></li>
            <li class="divider"></li>
            <li class="dropdown-header" id="matiereNav"> Matières</li>
            {% for matiere in  listMatiere %}
                <li><a id="matiereNav{{ loop.index0 }}" href="{{ path('uknow_platform_cartable_matieres', {'matiere' : matiere.lien}) }}">{{ matiere.nom }}</a></li>
            {% endfor %}
            <li class="dropdown-header" id="niveauNav"> Niveaux</li>
            {% for niveaux in  listNiveaux %}
                <li><a id="niveauNav{{ loop.index0 }}" href="{{ path('uknow_platform_cartable_niveaux', {'niveau' : niveaux.lien}) }}">{{ niveaux.nom }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="btn-group" style="margin-right: 5%; margin-left: 5%;">
        <button class="btn btn-default dropdown-toggle" id="btn-rd" data-toggle="dropdown">
            <span class="glyphicon glyphicon-education"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="dropdown-header"> Evaluation</li>
            <li><a href="{{ path('uknow_platform_evaluation_exercice')}}">Faire un exercice</a></li>
            <li><a href="{{ path('uknow_platform_evaluation_test')}}">Faire un test</a></li>
            <li><a href="{{ path('uknow_platform_evaluation_examen')}}">Passer un examen</a></li>
            <li><a href="{{ path('uknow_platform_evaluation_resultats')}}">Mes résultats</a></li>
            <li class="divider"></li>
            <li class="dropdown-header"> Evaluer</li>
            <li><a href="{{ path('uknow_platform_evaluation_corriger')}}">Corriger quelqu'un</a></li>
        </ul>
    </div>

    <div class="btn-group" style="margin-right: 5%; margin-left: 5%;">
        <button class="btn btn-default dropdown-toggle" id="btn-rd" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="dropdown-header"> Compte</li>
            <li><a href="{{ path('uknow_platform_compte_profil')}}">Mon profil</a></li>
            <li><a href="{{ path('uknow_platform_compte_progression')}}">Mes progrès</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('uknow_platform_compte_parametres')}}">Paramètres</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
        </ul>
    </div>
</div>