<div id="donneeCache_{{ loop.index }}" class="donneeCacher">
    <div class="blockTitre" onclick="afficher({{ loop.index }})">
        <h5 class="titre" id="titre_{{ loop.index }}" onclick="afficher({{ loop.index }})">{{ donnees.titre }}<br/></h5>
    </div>
    <div class="row" style="margin:0">
        <span id="details">
            {{ donnees.matiereNom }} : {{ donnees.niveauNom }}
        </span>
    </div>
    <div class="row" style="margin:0">
        <div class="col-md-6" id="fiable">{{ donnees.fiabilite }}%</div>
        <div class="col-md-6" id="temps">{{ donnees.temps }} minutes</div>
    </div>

    <div class="row" style="margin:0; background-color: #555">

        <div class="col-md-2" style="padding: 0">
            <div  class="pertinent" >
                {{ donnees.pertinent }}
            </div>
        </div>

        <div class="col-md-2" style="padding: 0">
            <div  class="developper">
                {{ donnees.developper }}
            </div>
        </div>

        <div class="col-md-2" style="padding: 0">
            <div  class="inutile" >
                {{ donnees.inutile }}
            </div>
        </div>

        {% if donnees.type == 'Cours' %}
            <a href="{{ path('uknow_platform_modifier_cours', {'id': donnees.id }) }}">
                <div class="col-md-2" style="padding: 0">
                    <button class="modifier">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </div>
            </a>
        {% elseif donnees.type == 'Exercice' %}
            <a href="{{ path('uknow_platform_modifier_exercice', {'id': donnees.id }) }}">
                <div class="col-md-2" style="padding: 0">
                    <button class="modifier">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </div>
            </a>
        {% elseif donnees.type == 'Correction' %}
            <a href="{{ path('uknow_platform_modifier_correction', {'id': donnees.id }) }}">
                <div class="col-md-2" style="padding: 0">
                    <button class="modifier">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </div>
            </a>
        {% endif %}

        <a href="{{ path('uknow_platform_cartable_modification', {'type': type, 'id': donnees.id }) }}">
            <div class="col-md-2" style="padding: 0">
                <button class="modification">
                    <span class="glyphicon glyphicon-th-list"></span>
                </button>
            </div>
        </a>

        <button class="boutonAffiche" id="enregistrer_{{ loop.index }}" onclick="supprimer({{ donnees.id }}, {{ loop.index }}, {{ loop.length }}, '{{ donnees.matiereNom }}', '{{ donnees.niveauNom }}')">
            <span id="{{ loop.index }}" class="glyphicon glyphicon-floppy-remove"></span>
        </button>
    </div>
</div>