{# src/Uknow/PlatformBundle/Resources/views/cartable.html.twig#}

{% extends "UknowPlatformBundle::index.html.twig" %}

{% block title %}Mon cartable{% endblock %}

{% block contenu %}
    <div class="row">
        <div class="col-md-9" style="padding: 0; position: fixed; z-index: 1">
            <div class="titre">Mes cours</div>
        </div>
    </div>
    <div class="row" style="margin-top: 36px">
        <div class="col-md-9" style="padding: 15px; text-align: center">
            {%  if listDonnees == null %}
                <h4>Vous ne suivez pas encore de cours.<br/> Mais vous pouvez <em><a href="{{ path('uknow_platform_recherche')}}">en trouver ici</a></em> !</h4>
            {% else %}
                {% for donnees in listDonnees %}
                <div id="donnee{{ loop.index }}" class ="donnee">
                    <form method="post" action="{{ path('uknow_platform_favoris', {'action': 'mes_cours'})}}">
                        <input type="hidden" name="valeur" value="{{ loop.index }}">

                        
                            <h5 class="titre">{{ donnees.titre }}<br/></h5>

                            <div class="row" style="margin:0">
                                <span id="details">
                                        {{ donnees.matiere }} : {{ donnees.niveau }}
                                </span>
                            </div>
                            <div class="row" style="margin:0">
                                <div class="col-md-6" id="fiable">{{ donnees.fiabilite }}%</div>
                                <div class="col-md-6" id="temps">{{ donnees.temps }} minutes</div>
                            </div>

                            <div class="row" style="margin:0">
                                <div id="pertinent" class="col-md-2">
                                    {{ donnees.positive }}
                                </div>
                                <div id="developper" class="col-md-2">
                                    {{ donnees.negative }}
                                </div>
                                <div id="inutile" class="col-md-2">
                                    {{ donnees.negative }}
                                </div>

                                <button type="submit" name="bouton" value="Modifier" class="col-md-2" id="modifier">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                                <button type="submit" name="bouton" value="Modifications" class="col-md-2" id="modification">
                                    <span class="glyphicon glyphicon-th"></span>
                                </button>
                                <span id="enregistrer{{ loop.index }}">
                                    <button type="submit" name="bouton" value="Enlever" class="col-md-2" id="enregistrer">
                                        <span class="glyphicon glyphicon-floppy-remove"></span>
                                    </button>
                                </span>
                            </div>
                            </div>
                    </form>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
