{# src/Uknow/PlatformBundle/Resources/views/ajouter.html.twig#}

{% extends "UknowPlatformBundle::index.html.twig" %}

{% block title %}Ajout{% endblock %}

{% block contenu %}
    <div class="row">
        <div class="col-md-9" style="padding: 0; position: fixed; z-index: 1">
            <div class="titre">Ajout d'un cours ou d'un exercice</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9" style="margin-top: 36px">
            <div class="form-group" id="ajouter">
                {{ form_start(formAjout) }}
                    {{ form_errors(formAjout) }}
                    <div class="form-group">
                        {{ form_errors(formAjout.titre) }}
                        {{ form_widget(formAjout.titre, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        <div id="domaine" class="input-group">
                            <span class="input-group-addon">Domaine:</span>
                            {{ form_errors(formAjout.domaine_nom) }}
                            {{ form_widget(formAjout.domaine_nom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Matière:</span>
                            {{ form_errors(formAjout.matiere_nom) }}
                            {{ form_widget(formAjout.matiere_nom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Thème:</span>
                            {{ form_errors(formAjout.theme_nom) }}
                            {{ form_widget(formAjout.theme_nom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Chapitre:</span>
                            {{ form_errors(formAjout.chapitre_nom) }}
                            {{ form_widget(formAjout.chapitre_nom, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div style="display: none">
                        {{ form_widget(formAjout.domaine_lien) }}
                        {{ form_widget(formAjout.matiere_lien) }}
                        {{ form_widget(formAjout.theme_lien) }}
                        {{ form_widget(formAjout.chapitre_lien) }}
                    </div>

                    <div class="form-group">
                        <div class="form-inline">
                            <div class="input-group">
                                <span class="input-group-addon">Type:</span>
                                {{ form_errors(formAjout.type) }}
                                {{ form_widget(formAjout.type, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">Niveau:</span>
                                {{ form_errors(formAjout.niveau) }}
                                {{ form_widget(formAjout.niveau, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">Temps:</span>
                                {{ form_errors(formAjout.temps) }}
                                {{ form_widget(formAjout.temps, {'attr': {'class': 'form-control'}}) }}
                                <span class="input-group-addon">minutes</span>
                            </div>
                        </div>
                    </div>

                    <div id="cours" class="form-group">
                        {{ form_errors(formAjout.cours) }}
                        {{ form_widget(formAjout.cours) }}
                    </div>

                    <div class="form-group">
                        {{ form_widget(formAjout.ajouter, {'attr': {'class': 'btn btn-default'}}) }}
                    </div>
                {{ form_end(formAjout) }}
            </div>
        </div>
    </div>
{% endblock %}
