{# src/Uknow/PlatformBundle/Resources/views/modifications/afficher.html.twig#}

<div id="donneeAffiche_{{ loop.index }}" class="donneeAffiche" style="display: none">

    <div class="titreAfficher">
        <div class="titreAfficherGauche">{{ donnees.date|date("d/m/Y") }}</div>

        <button class="boutonAffiche" onclick="cacher({{ loop.index }})">
            <span class="glyphicon glyphicon-remove"></span>
        </button>

        {% if donnees.type == 'Cours' %}
            <a href="{{ path('uknow_platform_modifier_cours', {'id': donnees.id }) }}">
                <button class="boutonAffiche">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </a>
        {% elseif donnees.type == 'Exercice' %}
            <a href="{{ path('uknow_platform_modifier_exercice', {'id': donnees.id }) }}">
                <button class="boutonAffiche">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </a>
            <button class="boutonAffiche" id="boutonCorrection" onclick="afficherCorrection({{ loop.index }})">
                <span class="glyphicon glyphicon-check"></span>
            </button>
        {% endif %}

    </div>

    <div class="texteDonnee">
        {{ donnees.texte|raw}}
    </div>

    <div id="correctionDonnee_{{ loop.index }}" style="display:none">
        <div style="width: 100%; height: 1px; background-color: #555"></div>
        <div class="texteDonnee">
            {{ donnees.correction|raw}}
        </div>
    </div>

    <div class="barreAfficher">
        <div class="row" style="margin:0">
            {#<div  class="barreAfficherEnd">{{ donnees.fiabilite }}%</div>#}
            <div class="barreAfficherEnd">{{ donnees.temps }} minutes</div>

            {% if tableauEvaluation[loop.index0] == 1 %}

                <button class="inutileChoix">Inadéquat
                    <span style="background-color: #ffffff; color:#d9534f" class="badge">{{ donnees.inutile }}</span></button>
                <button class="developperChoix">A développer
                    <span style="background-color: #ffffff; color:#f0ad4e" class="badge">{{ donnees.developper }}</span></button>
                <button class="pertinentChoix">
                    <span class="glyphicon glyphicon-ok"></span>Pertinent
                        <span style="background-color: #ffffff; color:#5cb85c" class="badge">{{ donnees.pertinent }}</span></button>

            {% elseif tableauEvaluation[loop.index0] == 2 %}
                <button class="inutileChoix">Inadéquat
                    <span style="background-color: #ffffff; color:#d9534f" class="badge">{{ donnees.inutile }}</span></button>
                <button class="developperChoix">
                    <span class="glyphicon glyphicon-ok"></span>A développer
                        <span style="background-color: #ffffff; color:#f0ad4e" class="badge">{{ donnees.developper }}</span></button>
                <button class="pertinentChoix">Pertinent
                    <span style="background-color: #ffffff; color:#5cb85c" class="badge">{{ donnees.pertinent }}</span></button>

            {% elseif tableauEvaluation[loop.index0] == 3 %}

                <button class="inutileChoix">
                    <span class="glyphicon glyphicon-ok"></span>Inadéquat
                        <span style="background-color: #ffffff; color:#d9534f" class="badge">{{ donnees.inutile }}</span></button>
                <button class="developperChoix">A développer
                    <span style="background-color: #ffffff; color:#f0ad4e" class="badge">{{ donnees.developper }}</span></button>
                <button class="pertinentChoix">Pertinent
                    <span style="background-color: #ffffff; color:#5cb85c" class="badge">{{ donnees.pertinent }}</span></button>

            {% else %}

                <button class="inutileAfficher">Inadéquat
                    <span style="background-color: #ffffff; color:#d9534f" class="badge">{{ donnees.inutile }}</span></button>
                <button class="developperAfficher">A développer
                    <span style="background-color: #ffffff; color:#f0ad4e" class="badge">{{ donnees.developper }}</span></button>
                <button class="pertinentAfficher">Pertinent
                    <span style="background-color: #ffffff; color:#5cb85c" class="badge">{{ donnees.pertinent }}</span></button>

            {% endif %}
        </div>
    </div>
</div>