{# src/Uknow/PlatformBundle/Resources/views/modifications/cacher.html.twig#}

<div id="donneeCache_{{ loop.index }}" class="donneeCacherModification">

    <h5 class="maj" onclick="afficher({{ loop.index }})">{{ donnees.date|date("d/m/Y") }}<br/></h5>

    <div class="row" style="margin:0">
        <div class="col-md-6" id="fiable">{{ donnees.fiabilite }}%</div>
        <div class="col-md-6" id="temps" style="font-size: 1.0em">{{ donnees.temps }} min</div>
    </div>

    <div class="row" style="margin:0">
        <div id="pertinent" class="col-md-3">
            {{ donnees.pertinent }}
        </div>
        <div id="developper" class="col-md-3">
            {{ donnees.developper }}
        </div>
        <div id="inutile" class="col-md-3">
            {{ donnees.inutile }}
        </div>

        {% if donnees.type == 'Cours' %}
            <a href="{{ path('uknow_platform_modifier_cours', {'id': donnees.id }) }}">
                <button class="col-md-3" id="modifier">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </a>
        {% elseif donnees.type == 'Exercice' %}
            <a href="{{ path('uknow_platform_modifier_exercice', {'id': donnees.id }) }}">
                <button class="col-md-3" id="modifier">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </a>
        {% elseif donnees.type == 'Correction' %}
            <a href="{{ path('uknow_platform_modifier_correction', {'id': donnees.id }) }}">
                <button class="col-md-3" id="modifier">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </a>
        {% endif %}
    </div>
</div>