{# src/Uknow/PlatformBundle/Resources/views/modifications/cacher.html.twig#}

<div id="donneeCache_{{ loop.index }}" class="donneeCacherModification">
    <div class="blockTitre">
        <h5 class="maj" onclick="afficher({{ loop.index }})">{{ donnees.date|date("d/m/Y") }}<br/></h5>
    </div>
    <div class="row" style="margin:0">
        <div class="col-md-6" id="fiable">{{ donnees.fiabilite }}%</div>
        <div class="col-md-6" id="temps" style="font-size: 1.0em">{{ donnees.temps }} min</div>
    </div>

    <div class="row" style="margin:0">
        <div class="col-md-3" style="padding: 0">
            <div class="pertinent" id="pertinent_{{ loop.index }}">
                {{ donnees.pertinent }}
            </div>
        </div>
        <div class="col-md-3" style="padding: 0">
            <div class="developper" id="developper_{{ loop.index }}">
                {{ donnees.developper }}
            </div>
        </div>
        <div class="col-md-3" style="padding: 0">
            <div class="inutile" id="inutile_{{ loop.index }}">
                {{ donnees.inutile }}
            </div>
        </div>

        {% if donnees.type == 'Cours' %}
            <a href="{{ path('uknow_platform_modifier_cours', {'id': donnees.id }) }}">
                <div class="col-md-3" style="padding: 0">
                    <button title="Modifier" data-toggle="tooltip" class="modifier">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </div>
            </a>
        {% elseif donnees.type == 'Exercice' %}
            <a href="{{ path('uknow_platform_modifier_exercice', {'id': donnees.id }) }}">
                <div class="col-md-3" style="padding: 0">
                    <button title="Modifier" data-toggle="tooltip" class="modifier">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </div>
            </a>
        {% endif %}
    </div>
</div>