{# src/Uknow/PlatformBundle/Resources/views/modifications/modifications.html.twig#}

{% extends "UknowPlatformBundle::index.html.twig" %}

{% block title %}Modifications{% endblock %}

{% block contenu %}
    <div class="row">
        <div class="col-md-11" style="padding: 0; position: fixed; z-index: 1; background-color: #f5f5f5;" id="colLien">
            <ol class="breadcrumb" style="margin: 0">
                <li><a href="{{ path('uknow_platform_recherche_acceuil')}}">Accueil</a></li>
                <li><a href="{{ path('uknow_platform_recherche_domaine', {
                        'lienDomaine': donnee.domaineLien
                    }) }}">{{ donnee.domaineNom }}</a></li>
                <li><a href="{{ path('uknow_platform_recherche_matiere', {
                        'lienDomaine': donnee.domaineLien,
                        'lienMatiere': donnee.matiereLien
                    }) }}">{{ donnee.matiereNom }}</a></li>
                <li><a href="{{ path('uknow_platform_recherche_theme', {
                        'lienDomaine': donnee.domaineLien,
                        'lienMatiere': donnee.matiereLien,
                        'lienTheme': donnee.themeLien
                    }) }}">{{ donnee.themeNom }}</a></li>
                <li><a href="{{ path('uknow_platform_recherche_chapitre', {
                        'lienDomaine': donnee.domaineLien,
                        'lienMatiere': donnee.matiereLien,
                        'lienTheme': donnee.themeLien,
                        'lienChapitre': donnee.chapitreLien
                    }) }}">{{ donnee.chapitreNom }}</a></li>
                <li class="active">{{ donnee.titre }}</li>
            </ol>
        </div>
        <div class="col-md-offset-11 col-md-1" style="padding: 0; position: fixed; z-index: 1; background-color: #f5f5f5; height: 36px" id="colButton">
            <button id="agrandir" onclick="agrandir()">
                <span class="glyphicon glyphicon-resize-full"></span>
            </button>
            {% if sauvegarder == true %}
                <button id="boutonEnregistrerValid">
                    <span class="glyphicon glyphicon-floppy-saved"></span>
                </button>
            {% else %}
                <button id="boutonEnregistrer" onclick="enregistrer({{ id }}, null)">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                </button>
            {% endif %}
        </div>
    </div>
    <div class="row" style="margin-top: 36px" id="marge">
        <div class="col-md-offset-2 col-md-8" style="padding: 15px; text-align: center" id="colCours">
            {% for donnees in listDonnees %}
                {{ include('UknowPlatformBundle:modifications:afficher.html.twig') }}
                {{ include('UknowPlatformBundle:modifications:cacher.html.twig') }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
