<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        {% stylesheets '@bootstrap_css' 'css/uknowInscription.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        <link rel="SHORTCUT ICON" href="{{ asset('images/logo.ico') }}">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=greek' rel='stylesheet' type='text/css'>
        <title>Inscription</title>
    </head>
    <body>
        <div class="espace1"></div>
        <div class="espace2">
            <div class="container">
                <header class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <h1 class="police3">Inscription</h1>
                        <h4 class="police3">Uknow est un site web dédié au partage de connaissances dans le domaine scolaire (actuellement niveau collège).
                            Chaque personne a la possibilité de partager, d'apprendre, de poster ou d'évaluer des cours ou des exercices, ainsi que de poser des questions sur tel ou tel sujet.
                            Chaque profil est anonyme et, hormis un identifiant, aucune donnée personnelle n'est demandée.
                            Apprenez gratuitement ce que vous voulez et décrochez le diplôme de vos rêves avec Uknow.</h4>
                    </div>
                </header>
            </div>
        </div>
        <div class="espace1"></div>
        <div class="espace2">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        {{ form_start(formInscription, {'attr': {'class': 'form-horizontal'}}) }}
                        <div class="form-group" style="font-family: 'Open Sans', sans-serif; font-weight: 400">
                            {{ form_errors(formInscription.adresse_mail) }}
                            {{ form_widget(formInscription.adresse_mail, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group" style="font-family: 'Open Sans', sans-serif; font-weight: 400">
                            {{ form_errors(formInscription.mot_de_passe) }}
                            {{ form_widget(formInscription.mot_de_passe, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_errors(formInscription.confirmation) }}
                            {{ form_widget(formInscription.confirmation, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-md-6" style="font-family: 'Open Sans', sans-serif; font-weight: 400">
                            {{ form_widget(formInscription.inscription, {'attr': {'class': 'btn btn-default'}}) }}
                        </div>
                        <div class="col-md-6" style="font-family: 'Open Sans', sans-serif; font-weight: 400">
                            <a href="{{ path('uknow_connexion') }}" class="btn btn-default" role="button">Se connecter !</a>
                        </div>
                        {{ form_end(formInscription) }}
                    </div>
                </div>
            </div>
        </div>

        <footer id="footer">
            <h6>Staroads@{{ 'now'|date('Y') }}</h6>
        </footer>
        {% javascripts
        '@bootstrap_js'
        '@jquery'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>