<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% stylesheets
        '@bootstrap_css'
        'css/Uknow/Connexion.css'
        'css/Uknow/Form.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        <link rel="SHORTCUT ICON" href="{{ asset('images/logo.ico') }}">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=greek' rel='stylesheet' type='text/css'>
        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body>
            <div class="espace1"></div>
            <div class="espace2">
                <h1 class="police3">Uknow</h1>
                <h2 class="police3">Knowledge is universal.</h2>
            </div>

            {% block presentation %}
                <div class="espace1"></div>
            {% endblock presentation %}

            <div class="container" style="margin-top: 50px;">
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <div class="form-group" style="font-family: 'Open Sans', sans-serif; font-weight: 400">
                            {% for type, messages in app.session.flashbag.all() %}
                                {% for message in messages %}
                                    <div class="flash-{{ type }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            <div >
                                {% block fos_user_content %}
                                {% endblock fos_user_content %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <footer id="footer">
        <div style="float:left; display:inline-block">Une production Thomas Jeanneau.</div>
        <div style="display:inline-block">Uknow - Version Beta - {{ "now"|date("d/m/Y") }}</div>
        <div style="float:right; display:inline-block">Contact: <a href="mailto:thomasj230@gmail.com">thomasj230@gmail.com</a></div>
    </footer>

    {% javascripts
    '@jquery'
    '@bootstrap_js'
    'js/Uknow/modifier/Modifier.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    </body>
</html>

