{# src/Uknow/PlatformBundle/Resources/views/actualites.html.twig#}

{% extends "UknowPlatformBundle::index.html.twig" %}

{% block title %}Actualités{% endblock %}

{% block contenu %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-9" style="padding: 0; position: fixed; z-index: 1">
            <div class="titre">Actualités</div>
        </div>
    </div>
    <div class="row" style="margin-top: 36px">
        <div class="col-md-9" style="padding: 10px; text-align: center">
            {%  if listDonnees == null %}
                <h4>Il n'y a pas d'actualités car vous ne suivez pas encours de cours ou d'exercices.<br/> Mais vous pouvez <em><a href="{{ path('uknow_platform_recherche')}}">en trouver ici</a></em> !</h4>
            {% else %}
                {% for donnees in listDonnees %}
                    <div id="donnee{{ loop.index }}" class="donnee">
                        <form method="post" action="{{ path('uknow_platform_favoris', {'action': 'actualites'})}}">
                            <input type="hidden" name="valeur" value="{{ loop.index }}">


                            <h5 class="titre">{{ donnees.titre }}<br/></h5>


                            <span id="details">
                                    {{ donnees.matiere }}: {{ donnees.type }}: Niveau {{ donnees.niveau }}
                            </span>

                            <div id="{{ loop.index }}">
                                <div id="textedonnee">
                                    {{ donnees.texte|raw}}
                                </div>
                            </div>

                            <h6 class="null" id="ajour">{{ donnees.date|date("d/m/Y") }}</h6>

                            <div class="null" id="fiable">{{ donnees.fiabilite }}%</div>

                            {% if donnees.type == 'Cours' %}
                                <div class="null" id="temps">{{ donnees.temps }} minutes.</div>
                            {% else %}
                                <div class="null" id="temps">{{ donnees.temps }} minutes.</div>
                            {% endif %}

                            {% if tableauEvaluation[loop.index0] == 1 %}
                                <button name="bouton" value="Pertinent" class="btn btn-success" id="btn-rd-eva">
                                    <span class="badge text-success">{{ donnees.positive }}</span>
                                </button>
                                <button name="bouton" value="A développer" class="btn btn-warning" id="btn-rd-eva">A développer
                                    <span class="badge text-warning">{{ donnees.negative }}</span>
                                </button>
                            {% elseif tableauEvaluation[loop.index0] == 2 %}
                                <div class="text-success" id="btn-rd-eva">Pertinent
                                    <span class="badge text-success">{{ donnees.positive }}</span>
                                </div>
                                <div class="text-warning" id="btn-rd-eva">
                                    <span class="badge text-warning">{{ donnees.negative }}</span>
                                </div>
                            {% else %}
                                <button type="submit" name="bouton" value="Pertinent" class="btn btn-success" id="btn-rd-eva">Pertinent
                                    <span class="badge text-success">{{ donnees.positive }}</span>
                                </button>
                                <button type="submit" name="bouton" value="A développer" class="btn btn-warning" id="btn-rd-eva">A développer
                                    <span class="badge text-warning">{{ donnees.negative }}</span>
                                </button>
                            {% endif %}
                                <button type="submit" name="bouton" value="Modifier" class="btn btn-default" id="btn-rd">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                                <button type="submit" name="bouton" value="Modifications" class="btn btn-default" id="btn-rd">
                                    <span class="glyphicon glyphicon-th"></span>
                                </button>
                                <span id="enregistrer{{ loop.index }}">
                                    <button type="submit" name="bouton" value="Enlever" class="btn btn-default" id="btn-rd">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </span>
                        </form>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
