{# src/Uknow/PlatformBundle/Resources/views/cours.html.twig#}

{% extends "UknowPlatformBundle::index.html.twig" %}

{% block title %}
        {{ parent() }} - Mes Cours
{% endblock %}

{% block contenu %}
    <div class="row">
        <div class="col-md-9">
            <h3>Mes Cours</h3>
            {%  if listDonnees == null %}
                <h4>Vous ne suivez pas encore de cours.<br/> Mais vous pouvez <em><a href="{{ path('uknow_platform_recherche')}}">en trouver ici</a></em> !</h4>
            {% else %}
                {% for donnees in listDonnees %}
                    <form method="post" action="{{ path('uknow_platform_favoris', {'action': 'mes_cours'})}}">
                        <input type="hidden" name="valeur" value="{{ loop.index }}">

                        <div id="donnee{{ loop.index }}"
                             class ="donnee"
                             onclick="selectionner('{{ loop.index }}','bouton{{ loop.index }}','enregistrer{{ loop.index }}','ajour{{ loop.index }}')"
                             onmouseover="main('donnee{{ loop.index }}')">
                            <h5 class="null">{{ donnees.titre }}<br/></h5>

                            <span id="enregistrer{{ loop.index }}">
                                <input type="submit" name="bouton" value="Enlever">
                            </span>
                            <span id="details">
                                    {{ donnees.matiere }}: Niveau {{ donnees.niveau }}
                            </span>

                            <div id="{{ loop.index }}">
                                <div id="textedonnee">
                                    {{ donnees.texte }}
                                </div>
                            </div>

                            <h6 class="null" id="ajour{{ loop.index }}">Dernière mise à jour: {{ donnees.date|date("d/m/Y") }}</h6>
                            <div id="bouton{{ loop.index }}">
                                <div class="null">
                                    {% if tableauEvaluation[loop.index0] == 1 %}
                                        <div class="jugement">C'est à développer.</div>
                                        Pertinence : {{ donnees.positive }}, à développer: {{ donnees.negative }},
                                    {% elseif tableauEvaluation[loop.index0] == 2 %}
                                        <div class="jugement">C'est pertinent !</div>
                                        Pertinence : {{ donnees.positive }}, à développer: {{ donnees.negative }}
                                    {% else %}
                                        <input type="submit" name="bouton" value="Pertinent">: {{ donnees.positive }},
                                        <input type="submit" name="bouton" value="A développer">: {{ donnees.negative }},
                                    {% endif %}
                                    <input type="submit" name="bouton" value="Modifier">
                                    <input type="submit" name="bouton" value="Modifications">
                                </div>
                            </div>
                            <br/>
                            <div class="null">Fiabilité: {{ donnees.fiabilite }}%</div>
                            {% if donnees.type == 'Cours' %}
                                <div class="null" id="temps">Temps d'apprentissage: {{ donnees.temps }} minutes.</div>
                            {% else %}
                                <div class="null" id="temps">Temps de réalisation: {{ donnees.temps }} minutes.</div>
                            {% endif %}
                        </div>
                    </form>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
