{# src/Uknow/PlatformBundle/Resources/views/donnees.html.twig#}

{% extends "UknowPlatformBundle::index.html.twig" %}

{% block title %}{{ titreChapitre }}{% endblock %}

{% block contenu %}
    <div class="row">
        <div class="col-md-9" style="padding: 0">
            <ol class="breadcrumb">
                <li><a href="{{ path('uknow_platform_recherche')}}">Accueil</a></li>
                <li><a href="{{ path('uknow_platform_recherche_domaine', {'domaine': domaine }) }}">{{ titreDomaine }}</a></li>
                <li><a href="{{ path('uknow_platform_recherche_matiere', {'domaine': domaine, 'matiere': matiere }) }}">{{ titreMatiere }}</a></li>
                <li><a href="{{ path('uknow_platform_recherche_theme', {'domaine': domaine, 'matiere': matiere, 'theme': theme }) }}">{{ titreTheme }}</a></li>
                <li class="active">{{ titreChapitre }}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            {%  if listDonnees == null %}
                <h4>Il n'existe pas de cours pour cette section.<br/> Mais vous pouvez <em><a href="{{ path('uknow_platform_ajouter') }}">en créer un</a></em> !</h4>
            {% else %}
                {% for donnees in listDonnees %}
                    <form method="post" action="{{ path('uknow_platform_recherche_chapitre',{
                        'domaine':domaine,
                        'matiere':matiere,
                        'theme':theme,
                        'chapitre':chapitre
                    })}}">

                        <input type="hidden" name="valeur" value="{{ loop.index }}">

                        <div id="donnee{{ loop.index }}"
                             class ="donnee"
                             onclick="selectionner('{{ loop.index }}','bouton{{ loop.index }}','enregistrer{{ loop.index }}','ajour{{ loop.index }}')"
                             onmouseover="main('donnee{{ loop.index }}')">
                            <h5 class="null">{{ donnees.titre }}<br/></h5>

                            <span id="enregistrer{{ loop.index }}">
                                    {% if tableauSauvegarde[loop.index0] == 1 %}
                                            {% if donnees.type == 'Cours' %}
                                                Déjà suivi
                                            {% else %}
                                                Enregistré
                                            {% endif %}
                                    {% else %}
                                        {% if donnees.type == 'Cours' %}
                                            <input type="submit" name="bouton" value="Suivre">
                                        {% else %}
                                            <input type="submit" name="bouton" value="Enregistrer">
                                        {% endif %}
                                    {% endif %}
                            </span>
                            <span id="details">
                                {{ donnees.type }}: Niveau {{ donnees.niveau }}
                            </span>

                            <div id="{{ loop.index }}">
                                <div id="textedonnee">
                                    {{ donnees.texte|raw}}
                                </div>
                            </div>

                            <h6 class="null" id="ajour{{ loop.index }}">Dernière mise à jour: {{ donnees.date|date("d/m/Y") }}</h6>
                            <div id="bouton{{ loop.index }}">
                                <div class="null">
                                    {% if tableauEvaluation[loop.index0] == 1 %}
                                        <div class="jugement">C'est à développer.</div>
                                        Pertinence : {{ donnees.positive }}, à développer: {{ donnees.negative }},
                                    {% elseif tableauEvaluation[loop.index0] == 2 %}
                                        <div class="jugement">C'est pertinent !</div>
                                        Pertinence : {{ donnees.positive }}, à développer: {{ donnees.negative }}
                                    {% else %}
                                        <input type="submit" name="bouton" value="Pertinent">: {{ donnees.positive }},
                                        <input type="submit" name="bouton" value="A développer">: {{ donnees.negative }},
                                    {% endif %}
                                    <input type="submit" name="bouton" value="Modifier">
                                    <input type="submit" name="bouton" value="Modifications">
                                </div>
                            </div>
                            <br/>
                            <div class="null">Fiabilité: {{ donnees.fiabilite }}%</div>
                            {% if donnees.type == 'Cours' %}
                                <div class="null" id="temps">Temps d'apprentissage: {{ donnees.temps }} minutes.</div>
                            {% else %}
                                <div class="null" id="temps">Temps de réalisation: {{ donnees.temps }} minutes.</div>
                            {% endif %}
                        </div>
                    </form>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
