{# src/Uknow/PlatformBundle/Resources/views/index.html.twig#}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        {% stylesheets
        '@bootstrap_css'
        'css/Uknow/Index.css'
        'css/Uknow/Donnees.css'
        'css/Uknow/Navigation.css'
        'css/Uknow/Form.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        <link rel="SHORTCUT ICON" href="{{ asset('images/logo.ico') }}">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=greek' rel='stylesheet' type='text/css'>
        <title>{% block title %}Uknow{% endblock %}</title>
    </head>
    <body>
        <div class="container-fluid" style="height: 100%">

            <header class="row" id="header">
                {{ render(controller('UknowPlatformBundle:Navigation:home')) }}
                {{ render(controller('UknowPlatformBundle:Navigation:recherche', {'lettres': null})) }}
                {{ render(controller('UknowPlatformBundle:Navigation:lien')) }}
            </header>

            <div id="affichage" style="
            margin-top: 54px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            height: calc(100% - 54px);
            ">
                {% block contenu %}
                {% endblock %}
            </div>

            {#
            <section class="col-md-3" id="question">
                {{ render(controller('UknowPlatformBundle:Question:question')) }}
            </section>
            #}
        </div>

        <footer id="footer">
            <div style="float:left; display:inline-block">Une production Thomas Jeanneau.</div>
            <div style="display:inline-block">Uknow - Version Beta - {{ "now"|date("m/d/Y") }}</div>
            <div style="float:right; display:inline-block">Contact: <a href="mailto:thomasj230@gmail.com">thomasj230@gmail.com</a></div>
        </footer>

        {% javascripts
        '@jquery'
        '@bootstrap_js'
        'js/Uknow/ajouter/AjouterCours.js'
        'js/Uknow/ajouter/AjouterExercice.js'
        'js/Uknow/Recherche.js'
        'js/Uknow/Donnees.js'
        'js/Uknow/modifier/Modifier.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
