{# src/Uknow/PlatformBundle/Resources/views/index.html.twig#}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        {% stylesheets
        'css/uknowIndex.css'
        'css/uknowDonnees.css'
        '@bootstrap_css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        <link rel="SHORTCUT ICON" href="{{ asset('images/logo.ico') }}">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=greek' rel='stylesheet' type='text/css'>
        <title>{% block title %}Uknow{% endblock %}</title>
    </head>
    <body>
        <div class="container-fluid">
            <header class="row">
                <div class="col-md-offset-1 col-md-1" style="text-align: center">
                    <a href="{{ path('uknow_platform_recherche')}}" class="lienBouton">
                        <button class="btn btn-default" id="btn-rd">
                            <img src="{{ asset('images/logo-icon-noire-gd.png')}}"/>
                        </button>
                    </a>
                </div>

                <div class="col-md-offset-1 col-md-4" id="barre" style="font-family: 'Open Sans', sans-serif; font-weight: 400">
                    {{ form_start(formRecherche) }}
                        <div class="input-group">
                            {{ form_errors(formRecherche.recherche) }}
                            {{ form_widget(formRecherche.recherche, {'attr': {'class': 'form-control'}}) }}
                            <input id="search" type="text" autocomplete="off" />
                            <div id="results"></div>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    {{ form_end(formRecherche) }}
                </div>

                <div class="col-md-offset-1 col-md-3" style="text-align: center">
                    <a href="{{ path('uknow_platform_favoris', {'action': 'actualites'})}}" class="lienBouton">
                        <button class="btn btn-default" id="btn-rd">
                            <span class="glyphicon glyphicon-globe"></span>
                        </button>
                    </a>

                    <a href="{{ path('uknow_platform_favoris', {'action': 'mes_cours'})}}" class="lienBouton">
                        <button class="btn btn-default" id="btn-rd">
                            <span class="glyphicon glyphicon-briefcase"></span>
                        </button>
                    </a>

                    <a href="{{ path('uknow_platform_ajouter') }}" class="lienBouton">
                        <button class="btn btn-default" id="btn-rd">
                            <span class="glyphicon glyphicon-pencil" ></span>
                        </button>
                    </a>

                    <a href="{{ path('uknow_platform_favoris', {'action': 'mes_exercices'})}}" class="lienBouton">
                        <button class="btn btn-default" id="btn-rd">
                            <span class="glyphicon glyphicon-list-alt"></span>
                        </button>
                    </a>

                    <a href="{{ path('uknow_platform_profil') }}" class="lienBouton">
                        <button class="btn btn-default" id="btn-rd">
                            <span class="glyphicon glyphicon-user"></span>
                        </button>
                    </a>
                </div>
            </header>

            <div style="
            margin-top: 54px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            ">
                {% block contenu %}
                {% endblock %}
            </div>

            <section class="col-md-3" id="question">
                <article class="demande" style="font-family: 'Open Sans', sans-serif; font-weight: 400">
                    {{ form_start(formQuestion) }}
                    <div class="form-group">
                        <div class="input-group">
                            {{ form_errors(formQuestion.question) }}
                            {{ form_widget(formQuestion.question, {'attr': {'class': 'form-control'}}) }}
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-comment"></span></button>
                            </span>
                        </div>
                    </div>
                    {{ form_end(formQuestion) }}
                </article>
                <table>
                    {% for question in listQuestion %}
                        <tr><td>{{ question.question }}</td></tr>
                    {% endfor %}
                </table>
                <div class="footer">
                    <h5>Staroad@{{ 'now'|date('Y') }}</h5>
                </div>
            </section>
        </div>
        {% javascripts
        '@bootstrap_js'
        '@jquery'
        'js/uknowAjouter.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
