{# src/Uknow/PlatformBundle/Resources/views/index.html.twig#}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        {% stylesheets
        '@bootstrap_css'
        'css/uknowIndex.css'
        'css/uknowDonnees.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        <link rel="SHORTCUT ICON" href="{{ asset('images/logo.ico') }}">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=greek' rel='stylesheet' type='text/css'>
        <title>{% block title %}Uknow{% endblock %}</title>
    </head>
    <body>
        <div class="container-fluid" style="height: 100%">

            <header class="row">
                {{ render(controller('UknowPlatformBundle:Navigation:home')) }}
                {{ render(controller('UknowPlatformBundle:Navigation:recherche')) }}
                {{ render(controller('UknowPlatformBundle:Navigation:lien')) }}
            </header>

            <div style="
            margin-top: 54px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            height: calc(100% - 125px);
            ">
                {% block contenu %}
                {% endblock %}
            </div>

            <section class="col-md-3" id="question">
                {{ render(controller('UknowPlatformBundle:Question:question')) }}
            </section>
        </div>

        {% javascripts
        '@jquery'
        '@bootstrap_js'
        'js/uknowAjouter.js'
        'js/uknowRecherche.js'
        'js/uknowStructure.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
