{# src/Uknow/PlatformBundle/Resources/views/modification.html.twig#}

{% extends "UknowPlatformBundle::index.html.twig" %}

{% block title %}
    {{ parent() }} - Modifications
{% endblock %}

{% block contenu %}
    <div class="row">
        <div class="col-md-9" style="padding: 0">
            <ol class="breadcrumb">
                <li><a href="{{ path('uknow_platform_recherche')}}">Accueil</a></li>
                <li><a href="{{ path('uknow_platform_recherche_domaine', {'domaine': listDonnees[0].domaine }) }}">{{ titreDomaine }}</a></li>
                <li><a href="{{ path('uknow_platform_recherche_matiere', {'domaine': listDonnees[0].domaine, 'matiere': listDonnees[0].matiere }) }}">{{ titreMatiere }}</a></li>
                <li><a href="{{ path('uknow_platform_recherche_theme', {'domaine': listDonnees[0].domaine, 'matiere': listDonnees[0].matiere, 'theme': listDonnees[0].theme }) }}">{{ titreTheme }}</a></li>
                <li><a href="{{ path('uknow_platform_recherche_chapitre', {'domaine': listDonnees[0].domaine, 'matiere': listDonnees[0].matiere, 'theme': listDonnees[0].theme, 'chapitre': listDonnees[0].chapitre }) }}">{{ titreChapitre }}</a></li>
                <li class="active">{{ listDonnees[0].titre }}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <h3>Listes des modifications </h3>
            {{ listDonnees[0].type }} de niveau {{ listDonnees[0].niveau }}.
            {% for donnees in listDonnees %}
                <form method="post" action="{{ path('uknow_platform_modification', {'id': id})}}">
                    <input type="hidden" name="valeur" value="{{ loop.index }}">
                    <div id="donnee{{ loop.index }}" class ="donnee">
                        <div id="textedonnee">
                            {{ donnees.texte|raw }}
                        </div>
                        <h6 class="null">Dernière mise à jour: {{ donnees.date|date("d/m/Y") }}; </h6>
                        <div class="bouton">
                            <div class="null">
                                {% if tableauEvaluation[loop.index0] == 1 %}
                                    <div class="jugement">C'est à développer.</div>
                                    Pertinence : {{ donnees.positive }}, à développer: {{ donnees.negative }},
                                {% elseif tableauEvaluation[loop.index0] == 2 %}
                                    <div class="jugement">C'est pertinent !</div>
                                    Pertinence : {{ donnees.positive }}, à développer: {{ donnees.negative }}
                                {% else %}
                                    <input type="submit" name="bouton" value="Pertinent">: {{ donnees.positive }},
                                    <input type="submit" name="bouton" value="A développer">: {{ donnees.negative }},
                                {% endif %}
                                <input type="submit" name="bouton" value="Modifier">
                            </div>
                        </div>
                        <br/>
                        <div class="null">Fiabilité: {{ donnees.fiabilite }}%</div>
                        {% if donnees.type == 'Cours' %}
                            <div class="null" id="temps">Temps d'apprentissage: {{ donnees.temps }} minutes.</div>
                        {% else %}
                            <div class="null" id="temps">Temps de réalisation: {{ donnees.temps }} minutes.</div>
                        {% endif %}
                    </div>
                </form>
            {% endfor %}
        </div>
    </div>
{% endblock %}
